{% extends "page.html" %}

{% block body %}
{% if lang == 'fr' %}
<p>Bienvenue sur <strong>plint</strong>!</p>
<h2 id="info">De quoi s'agit-il au juste&nbsp;?</h2>
<p>C'est une tentative d'<a href="https://a3nm.net">a3nm</a> pour lutter contre la
poésie de mauvaise qualité (celle qui veut suivre des règles classiques sans y
parvenir). Plint vérifie qu'un poème respecte des contraintes
de métrique, de rime et de genre de rime. Il utilise <a
  href="https://a3nm.net/git/frhyme">frhyme</a> pour les rimes (qui utilise
lui-même la base de données <a href="http://lexique.org">Lexique</a>), <a
  href="https://a3nm.net/git/haspirater">haspirater</a> pour la détection des
'h' aspirés, et un système écrit à la main avec amour pour la métrique et le
genre. Il est construit avec <a href="http://python.org">Python</a> et <a
  href="http://bottlepy.org">Bottle</a>. Vous pouvez récupérer le code sur le <a
  href="https://a3nm.net/git/plint">dépôt plint</a> pour le faire tourner
localement.</p>
<p>Publicité gratuite&nbsp;: si vous aimez plint, peut-être serez-vous
intéressé par le dictionnaire de rimes <a
  href="https://drime.a3nm.net/">drime</a>.</p>

<h2 id="help">Comment s'en servir&nbsp;?</h2>
<p>Entrez votre poème dans la zone de texte et choisissez le modèle de poème. Si
aucun des modèles ne vous convient, vous pouvez <a href="#template">écrire le
  vôtre</a>.</p>

<h2 id="whatcheck">Qu'est-ce qui est vérifié par plint&nbsp;?</h2>
<p>Les erreurs suivantes sont signalées par défaut. Des options de configuration
dans le modèle permettent de rendre plint plus tolérant sur la plupart de ces
erreurs&nbsp;: cela est documenté <a href="#template">plus bas</a>.</p>
<dl>
  <dt id="whatcheck_syllable">Métrique</dt>
  <dd>Le nombre de syllabes par vers est habituellement fixé (12 pour les
  alexandrins, par exemple). Les syllabes sont comptées en scandant sans
  élision des <em>e</em> muets sauf quand un mot se termine par un <em>e</em>
  muet et le mot suivant commence par une voyelle ou un <em>h</em> non aspiré
  (ou si c'est le dernier mot du vers). Le nombre de syllabes n'est <em>pas</em>
  ce que vous obtenez en lisant le poème comme vous parlez tous les jours.
  Certains groupes de voyelles peuvent prendre deux syllabes soit
  systématiquement (par exemple "Léon") soit par une <em>diérèse</em> facultative
  ou obligatoire ("passion")&nbsp;; plint utilise une approximation permissive
  des diérèses effectivement autorisées déduite à partir d'un corpus de textes
  classiques.</dd>
  <dt id="whatcheck_hemistiche">Hémistiche</dt>
  <dd>Les alexandrins classiques sont divisés en deux <em>hémistiches</em> de
  6 syllabes. La césure ne doit pas couper un mot et le premier hémistiche ne
  doit pas se finir par un son faible (ie. une fin féminine non élidée).</dd>
  <dt id="whatcheck_rhyme">Rime</dt>
  <dd>La contrainte poétique la plus connue est que les vers doivent rimer. Les
  phonèmes communs dans une rime doivent inclure un son vocalique (par exemple
  "tâte" et "bête" ne riment pas parce que leur suffixe commun est [t] qui ne
  contient pas de son vocalique). Les rimes sont vérifiées par plint avec une
  approximation permissive de la prononciation de la fin des vers. Plint confond
  [ɛ] et [ɛː] ("mettre" et "maître") et [a] et [ɑ] ("patte" et "pâte") mais pas
  [ɛ̃] et [œ̃] ("brin" et "brun") ou [ɔ] et [o] ("cotte" et "côte"). Quand toutes
  les règles classiques sont suivies, certaines rimes comme la rime normande ou
  la rime avec liaison supposée sont acceptées.</dd>
  <dt id="whatcheck_eye">Rime pour l'œil</dt>
  <dd>En poésie classique, un degré minimal de rime "pour l'œil" est exigé
  (ainsi "-é" et "-er" ne riment pas), avec une certaine tolérance (pour "-é" et
  "-ai" notamment).</dd>
  <dt id="whatcheck_genre">Genre des rimes.</dt>
  <dd>En poésie classique, les rimes doivent être <em>féminines</em> ou
  <em>masculines</em>. Une rime est féminine si elle se termine par un "e", "es"
  ou "ent" silencieux, et est masculine dans le cas contraire. Les rimes doivent
  faire rimer alternativement deux terminaisons féminines et deux terminaisons
  masculines. plint vérifie cela, avec une approximation permissive pour
  déterminer si une terminaison est féminine ou non.</dd>
  <dt id="whatcheck_ambiguous">Motifs ambigus</dt>
  <dd>Certains motifs comme "-ies" et "-ées", ou "-ie" ou "-ée" suivis
  d'une consonne ou d'un 'h' aspiré, sont interdits en poésie classique.
  La raison est que ces motifs sont ambigus car ils pouvaient être prononcés ou
  élidés suivant les règles classiques de prosodie à l'époque, ce qui empêchait
  de compter correctement les syllabes. Selon la prosodie moderne, ils sont
  toujours élidés, mais ils sont toujours interdits suivant les règles
  classiques : plint les signale.</dd>
  <dt id="whatcheck_hiatus">Hiatus</dt>
  <dd>Le hiatus (juxtaposition de sons vocaliques sans 'e' muet intercalaire)
  est interdit en poésie classique et signalé. Plus précisément, il y a hiatus
  lorsqu'un mot se termine par une voyelle (sauf 'e' muet) et que le mot suivant
  commence par une voyelle ou par un <em>h</em> non-aspiré. Les consonnes
  muettes en fin de mot évitent l'hiatus, sauf dans le cas particulier du mot
  "et" (dont on considère qu'il se termine par un son vocalique).</dd>
  <dt id="whatcheck_repeated">Mots répétés</dt>
  <dd>On ne doit pas faire rimer un mot avec lui-même (mais on peut faire rimer
  un mot avec des homographes de nature grammaticale différente), ainsi, plint
  signale une erreur si le nombre d'occurrences d'un mot connu dans un motif de
  rimes est plus grand par son nombre de natures grammaticales possibles.</dd>
  <dt id="whatcheck_illegal">Caractères interdits</dt>
  <dd>Les caractères que plint ne reconnaît pas (notamment les chiffres arabes)
  sont signalés comme des erreurs, d'une part parce qu'ils sont sans doute
  irréguliers en poésie classique, d'autre part parce que cela signifie sans
  doute que plint va mal interpréter le vers.</dd>
  <dt id="whatcheck_length">Longueur</dt>
  <dd>Pour certains types de poèmes (par exemple les sonnets), le nombre de vers
  est fixé, et une erreur est levée si le modèle n'est pas complet ou s'il a été
  répété.</dd>
</dl>

<h2>Qu'est-ce qui n'est pas vérifié par plint&nbsp;?</h2>

<p>Le comptage des syllabes est effectué par une approximation permissive qui
peut autoriser certaines diérèses ou synérèses non autorisées. Aucune
vérification n'est faite pour s'assurer que la césure à l'hémistiche se fait à
une position grammaticale raisonnable. Les rimes sont calculées par une
approximation permissive, et il en va de même pour les genres. Il est interdit
de faire rimer des mots dérivés l'un de l'autre (par exemple "justice" et
"injustice") mais plint, faute de données, ne peut vérifier pas cette
contrainte. Plint ne vérifie pas que les mots sont correctement orthographiés ou
s'ils existent effectivement en français, ou si le poème a un sens de façon
générale&nbsp;: par exemple, <q>Tatata tatati tatati tatata</q> est reconnu
comme un alexandrin classique parfaitement valide.</p>

<h2 id="log">Vie privée&nbsp;: Est-ce que des logs sont conservés&nbsp;?</h2>

<p>Oui, des logs peuvent être conservés, afin de pouvoir identifier, quand le
programme plante, pourquoi le poème d'entrée l'a fait planter. Je conserve donc
des informations sur les requêtes entrantes (poème, adresse IP). Aussi, ne
soumettez pas de données confidentielles ou personnelles ; récupérez le <a
href="https://a3nm.net/git/plint">code source</a> et faites tourner plint
localement pour de tels usages.</p>

<h2 id="template">Comment faire pour définir ses propres modèles&nbsp;?</h2>

<p>
Chaque ligne du format correspond à un vers (ie. une ligne non-vide). Une ligne
peut indiquer trois éléments séparés par une espace : la métrique, l'identifiant
de rime et l'identifiant de genre. Le premier est obligatoire, les deux derniers
sont facultatifs.
</p>
<p>
La métrique indique le nombre de syllabes du vers, et la position des
hémistiches éventuelles. Il s'agit de totaux de syllabes, séparés par '/' pour
indiquer les hémistiches. Par exemple, "6/6" est un alexandrin classique, "12"
est un alexandrin non nécessairement pourvu de césure à l'hémistiche.
</p>
<p>
L'identifiant de rime sert à regrouper les vers qui doivent rimer ensemble. Les
vers ayant le même identifiant doivent rimer. Pour préciser le type de rime
attendue, il est possible de terminer l'identifiant par ':' suivie d'une
contrainte de rime qui est une liste
de valeurs séparées par '|'. La première valeur est soit "no" pour désactiver
les contraintes classiques sur la rime (et n'exiger que la rime phonétique),
soit n'importe quoi d'autre pour activer les règles classiques (ce qui est fait
par défaut). La seconde valeur est un nombre minimal de phonèmes communs
nécessaires pour qu'une rime soit acceptée (1 par défaut).
</p>
<p>
L'identifiant de genre de rime sert à regrouper les vers qui doivent avoir une
rime de même genre. Les conventions supplémentaires sont que deux identifiants
de casse inversée (tels que "ex" et "EX") ont des genres opposés
obligatoirement, et que "m" et "f" sont obligatoirement masculin et féminin
respectivement.
</p>
<p>
Si des identifiants ne sont pas spécifiés, alors la contrainte correspondante
n'est pas spécifiée.
</p>
<p>
Une fois le format épuisé, il est lu à nouveau à partir du début, jusqu'à la fin
du poème. Les identifiants de rime et de genre sont réinitialisés (ie. peuvent
prendre n'importe quelle valeur), sauf ceux qui commencent par '!'. Il n'est pas
interdit que le poème et le format ne terminent pas simultanément.
</p>

<p>Des options globales peuvent être définies sur une ligne commençant par
"!&nbsp;", elles doivent être de la forme clé:valeur et séparées par des espaces, les
options suivantes sont reconnues&nbsp;:</p>
<dl>
  <dt>merge</dt>
  <dd>La valeur doit être une liste de phonèmes X-SAMPA (avec la conversion
  maison de plint pour représenter par un caractère les phonèmes de deux
  caractères) à fusionner. Les rimes seront vérifiées à ces fusions près.</dd>
  <dt>normande_ok</dt>
  <dd>La valeur doit être true ou false pour accepter ou refuser les rimes
  normandes. Par défaut, elles sont acceptées.</dd>
  <dt>hiatus_ok</dt>
  <dd>La valeur doit être true ou false pour accepter ou refuser les hiatus (au
  sens classique). Par défaut, ils sont refusés.</dd>
  <dt>diaeresis</dt>
  <dd>La valeur doit être soit "classical" pour imposer les règles de la
  métrique classique (approximées au mieux) ou "permissive" pour des
  approximations plus permissives qui accepteront à peu près n'importe quelle
  diérèse ou synérèse phonétiquement plausible. La valeur par défaut est
  "classical".</dd>
  <dt>forbidden_ok</dt>
  <dd>La valeur doit être true ou false pour accepter ou refuser les motifs
  ambigus comme "ées", "ies". Par défaut, ils sont refusés. Si vous acceptez ces
  motifs, vous devriez mettre "diaeresis" à "classical" pour qu'ils aient une
  longueur calculée de façon raisonnable.</dd>
  <dt>repeat_ok</dt>
  <dd>Si cette valeur est false, le modèle ne se répétera pas, un poème plus
  long que le modèle provoquera une erreur. Par défaut, la valeur est true.</dd>
  <dt>incomplete_ok</dt>
  <dd>Si cette valeur est false, le poème devrait avoir exactement la longueur
  du modèle (ou un multiple, si repeat_ok est true), ne pas aller jusqu'à la fin
  du modèle provoquera une erreur. Par défaut, la valeur est true.</dd>
  <dt>phon_supposed_ok</dt>
  <dd>Autoriser la liaison supposée pour les rimes (vrai par défaut).</dd>
  <dt>eye_supposed_ok</dt>
  <dd>Autoriser la liaison supposée pour les rimes pour l'œil (vrai par défaut).</dd>
  <dt>eye_tolerance_ok</dt>
  <dd>Autoriser les tolérances pour les rimes pour l'œil telles que "-é"/"-ai"
  (vrai par défaut).</dd>
  <dt>poor_eye_required</dt>
  <dd>Imposer des rimes pour l'œil d'au moins 2 caractères dans le cas d'une
  rime pauvre (un seul phonème) qui ne comporte pas de mots monosyllabiques
  (vrai par défaut, n'a de sens que pour les rimes classiques). Pour
  complètement désactiver les rimes pour l'œil, utiliser les contraintes de rime
  décrites plus haut.</dd>
  <dt>poor_eye_supposed_ok</dt>
  <dd>Autoriser la liaison supposée pour la rime pour l'œil pour
  poor_eye_required (faux par défaut).</dd>
  <dt>poor_eye_vocalic_ok</dt>
  <dd>Ne pas imposer la rime de poor_eye_required pour des successions de deux
  sons vocaliques (par exemple Noé/avoué).</dd>
</dl>

<p>Désolé si tout cela semble un peu obscur. Vous pouvez regarder les modèles
prédéfinis pour comprendre comment ils fonctionnent&nbsp;:</p>
<ul>
  <li><span class="template"><a
      href="static/tpl/classical.tpl">classical</a></span></li>
  <li><span class="template"><a
      href="static/tpl/french_abab.tpl">french_abab</a></span></li>
  <li><span class="template"><a
      href="static/tpl/french_abba.tpl">french_abba</a></span></li>
  <li><span class="template"><a
      href="static/tpl/italian_abab.tpl">italian_abab</a></span></li>
  <li><span class="template"><a
      href="static/tpl/italian_abba.tpl">italian_abba</a></span></li>
  <li><span class="template"><a
      href="static/tpl/alexandrin.tpl">alexandrin</a></span></li>
</ul>

<h2>Problèmes fréquents</h2>
<ul>
  <li>Les chiffres arabes ne sont pas acceptés. Écrivez toujours les nombres en
  toutes lettres.</li>
  <li>Si le compte de syllabes dans le vers est correct mais qu'une erreur de
  métrique est signalée, vérifiez les hémistiches. Les césures incorrectes (qui
  coupent un mot ou se terminent par un son féminin) sont signalées.</li>
</ul>

<h2 id="pron">Comment la prononciation est-elle indiquée&nbsp;?</h2>
<p>Avec <a href="http://en.wikipedia.org/wiki/X-SAMPA">X-SAMPA</a>. Voyez aussi <a
  href="https://fr.wiktionary.org/wiki/Annexe:Prononciation/fran%C3%A7ais">l'annexe
  de Wiktionnaire sur la prononciation du français</a>. Notez qu'en raison de
limitations diverses, la prononciation indiquée peut être complètement fausse
pour les premiers phonèmes. Les derniers devraient être bons, cependant.</p>

<h2>Est-ce qu'il y a une API&nbsp;?</h2>
<p>Pas encore. Si vous voulez faire quelque chose d'original, <a
  href="https://a3nm.net/git/plint">allez récupérer une copie du code</a>.</p>

<h2>Et le nom&nbsp;?</h2>

<p>C'est "plint" comme "poem lint" (comme l'outil "<a
  href="https://en.wikipedia.org/wiki/Lint_(software)">lint</a>" pour les
programmes), mais aussi pour l'homophonie avec "plainte".</p>

{% else %}

<p>Welcome to <strong>plint</strong>!</p>
<h2 id="info">Wait, what is this?</h2>
<p>This is <a href="https://a3nm.net">a3nm</a>'s attempt to make a better world
by eradicating that species of bad French poetry that tries to follow classical
constraints but fails. It checks the validity of a poem with
respect to metric, rhyme and rhyme genre constraints. It uses <a
  href="https://a3nm.net/git/frhyme">frhyme</a> for rhymes (itself built on the
<a href="http://lexique.org">Lexique</a> database), <a
  href="https://a3nm.net/git/haspirater">haspirater</a> for aspirated 'h'
detection, and a carefully handwritten system for metric and genre. It is
powered by <a href="http://python.org">Python</a> and <a
  href="http://bottlepy.org">Bottle</a>. You can get the code on the <a
  href="https://a3nm.net/git/plint">plint repository</a> to run it locally.</p>
<p>Ad: if you like plint, you might enjoy the French rhyme dictionary <a
  href="https://drime.a3nm.net">drime</a>.</p>

<h2 id="help">How do I use it?</h2>
<p>Enter your poem in the text area and select the poem template. If none of the
predefined templates suit you, you can <a href="#template">write your
  own</a>.</p>

<h2 id="whatcheck">What does plint check?</h2>
<p>Here are some simplified explanations. To know all the details, go read the
source code.</p>
<dl>
  <dt id="whatcheck_syllable">Syllable count</dt>
  <dd>The number of syllables in each verse is usually fixed (12 in
  alexandrines, for instance). Syllables are counted in a reading with no
  elision of mute <em>e</em>'s except at the end of a word <em>and</em> when
  the following word starts with a vowel or non-aspirated <em>h</em> (or if it
  is the last word). The syllable count is <em>not</em> what you get with a
  colloquial everyday reading. Some vowels clusters can count for two
  syllables either naturally ("Léon") or through <em>diérèse</em> ("passion");
  plint uses a tolerant approximation of allowed <em>diérèses</em> trained on a
  corpus of classical texts.</dd>
  <dt id="whatcheck_hemistiche">Hemistiche</dt>
  <dd>For classical alexandrines, the 12 syllables are separated in two groups
  of 6 with an intermediate cesura (the <em>hémistiche</em>). The cesura must
  not split a word and must not end in a weak sound (essentially, a non-elided
  feminine ending).</dd>
  <dt id="whatcheck_rhyme">Rhyme.</dt>
  <dd>The fact that verses must rhyme is the most well-known poetic constraint.
  The rhyming phonemes must include a vowel (eg. "tâte" and "bête" do not rhyme
  because their common phoneme suffix is [t] which does not include a vowel
  sound). plint enforces rhymes trough a liberal approximation of the
  pronunciation of verse endings. Plint merges [ɛ] et [ɛː] ("mettre" and
  "maître") and [a] and [ɑ] ("patte" and "pâte") but distinguishes [ɛ̃] and [œ̃]
  ("brin" and "brun") and [ɔ] and [o] ("cotte" and "côte"). When all classical
  rules are enforced, some rhymes such as <em>rime normande</em> and rhymes for
  a <em>liaison supposée</em> are accepted though they do not rhyme
  phonetically.</dd>
  <dt id="whatcheck_eye">Eye rhyme.</dt>
  <dd>Classical rules require a minimal degree of <em>rime pour l'œil</em> (end
  letter similarity); thus "-é" and "-er" do not rhyme, although common
  tolerances exist, such as allowing "-é" and "-ai".</dd>
  <dt id="whatcheck_genre">Rhyme genre.</dt>
  <dd>In classical verse, rhymes must be made between feminine verse endings, or
  masculine verse endings. A verse ending is feminine if it ends with a silent
  "e", "es" or "ent", and masculine otherwise. plint enforces this, with a
  liberal approximation to try to guess if an ending is indeed silent. Besides,
  feminine and masculine rhymes must alternate.</dd>
  <dt id="whatcheck_ambiguous">Ambiguous patterns</dt>
  <dd>Some patterns such as "-ées" or "-ies", or "-ée" and "-ie" followed by an
  aspirated 'h' or a consonant, are forbidden by classical rules. They are
  called "ambiguous" because, according to classical prosody rules at the time,
  they could be either pronounced or elided, so it was unclear how to count
  syllables. In modern French, they are always elided, but classical poetry
  still prohibits them. They are
  reported by plint.</dd>
  <dt id="whatcheck_hiatus">Hiatus</dt>
  <dd>Juxtaposition of vowel sounds in two adjacent words with no mute 'e' in
  the middle is forbidden and reported. Specifically, it is forbidden to end a
  word with a vowel (except mute 'e') and have the next word start with a vowel
  or a non-aspirated <em>h</em>. Mute consonants at the end of the word avoid
  hiatus, except in the specific case of the word "et" (which is considered to
  end by a vowel sound).</dd>
  <dt id="whatcheck_repeated">Repeated words</dt>
  <dd>A word may not rhyme with itself, but may rhyme with a homograph of a
  different grammatical nature, so plint will report as error any multiple
  occurrences of a known word in a rhyme pattern if the number of occurrences is
  more than the number of grammatical natures for the word.</dd>
  <dt id="whatcheck_illegal">Illegal characters</dt>
  <dd>Characters that are not understood by plint, such as arabic numerals, are
  reported as errors: on the one hand, they are probably best avoided in
  classical poetry; on the second hand plint will probably misinterpret the
  verse if it does not understand some of the characters.</dd>
  <dt id="whatcheck_length">Poem length</dt>
  <dd>For some poetic forms such as the <em>sonnet</em>, the number of verses is
  fixed, so an error is raised if the pattern was not completed to the end or
  was repeated.</dd>
</dl>

<h2>What isn't checked by plint?</h2>

<p>Syllable count is performed by a liberal estimate which may allow some
invalid <em>diérèses</em> and <em>synérèses</em> to make the count match. It is
not checked if <em>hémistiches</em> occur at a sensible grammatical position.
Rhyme is computed by a liberal heuristic, as well as rhyme genre. Rhymes between
words derived from one another, such as <em>justice</em> and <em>injustice</em>,
are usually not allowed,
but this is not checked by plint for lack of adequate data. More importantly,
plint will not check if the words you use exist in French, or are correctly
spelt, and if your poem makes any sense, does not contain spelling mistakes or
has any poetic value; it only enforces formal constraints. For instance,
<q>Tatata tatati tatati tatata</q> is recognized as a perfectly correct
classical alexandrine.</p>

<h2 id="log">Privacy: Do you keep logs?</h2>

<p>Yes, I do, because whenever the program chokes on a poem I need to figure out
what happened, and I need the input poem for that, so I keep a trace of incoming
requests (poem, IP address, etc.). Hence, if you want to run plint on confidential or
personal poems, do not submit them to the online version; instead, retrieve the
<a href="https://a3nm.net/git/plint">source code</a> and run plint locally.</p>

<h2 id="template">How can I define my own templates?</h2>

<p>Each template line will be checked against a non-blank poem line. When the
template is finished, it starts over from the beginning, and the rhyme and rhyme
genre identifiers (see below) are reinitialized unless they start with a '!'.
Each line contains one to three space-separated fields. The fields will be
interpreted in the following order:</p>
<ol>
<li>The first field is the <strong>metric indication</strong>. It is a list of
syllable counts separated by '/'s to indicate <em>hémistiches</em>. For
instance, "6/6" is a classical alexandrine, "12" is an alexandrine without
<em>hémistiche</em>. For technical reasons, the total number of syllables in a
verse is limited to 16.</li>
<li>The second field is the <strong>rhyme identifier</strong>. Verses with the
same rhyme identifier must rhyme. You can suffix the pattern with ":" followed
by a rhyme constraint. The rhyme constraint is up to two '|'-separated
values. The first value is either "no" to disable classical constraints and only
enforce phonetic rhyming, or anything else (default) to enable classical
constraints. The second value is a number of required common phonemes (default
1).</li>
<li>The third field is the <strong>rhyme genre</strong>. Verses with the same
rhyme genre identifier must have the same rhyme genre. Identifiers with opposite
case (like "ex" and "EX") must represent opposite genres, "m" must represent
masculine, "f" must represent feminine.</li>
</ol>
<p>Global options can be stated in lines starting with "! ", they are of the
form option:value and separated by spaces, with the following possibilities:</p>
<dl>
  <dt>merge</dt>
  <dd>The value should be a list of X-SAMPA phonemes (with plint's custom
  mapping of multi-character to single-character phonemes) to merge (for
  instance "oO"). Rhymes will be computed up to these merges.</dd>
  <dt>normande_ok</dt>
  <dd>The value should be true or false to allow or refuse rimes normandes.
  Default is true.</dd>
  <dt>hiatus_ok</dt>
  <dd>The value should be true or false to allow or refuse hiatus (in the sense
  of classical poetry). Default is false.</dd>
  <dt>diaeresis</dt>
  <dd>The value should be either "classical" to enforce an approximation of the
  rules of classical verse or "permissive" to enforce a more permissive
  approximations which will allow mostly all phonetically reasonable diérèses
  and synérèses. Default is "classical".</dd>
  <dt>forbidden_ok</dt>
  <dd>The value should be true or false to allow or refuse patterns such as
  "ées", "ies". Default is false. If you set this, it may be preferable to set
  "diaeresis" to "permissive" so that the ambiguous patterns are counted
  reasonably.</dd>
  <dt>repeat_ok</dt>
  <dd>If the value is false, the template will not repeat, and going beyond its
  end will be an error. Default is true.</dd>
  <dt>incomplete_ok</dt>
  <dd>If the value is false, the poem should match the length of the template
  (or a multiple thereof is repeat_ok was set), and not completing a template
  run will be an error. Default is true.</dd>
  <dt>phon_supposed_ok</dt>
  <dd>Allow <em>liaison supposée</em> for rhymes (default is true).</dd>
  <dt>eye_supposed_ok</dt>
  <dd>Allow <em>liaison supposée</em> for <em>rimes pour l'œil</em> (default is
  true).</dd>
  <dt>eye_tolerance_ok</dt>
  <dd>Allow tolerances for <em>rimes pour l'œil</em> such as "-é"/"-ai" (default
  is true).</dd>
  <dt>poor_eye_required</dt>
  <dd>Require at least 2 characters in <em>rimes pour l'œil</em> when the sound
  rhyme is poor (only one phoneme) and there are no monosyllabic words in the
  rhyme (default is true, only applies to classical rhymes). If you want to
  disable <em>rimes pour l'œil</em> altogether, see the part about rhyme
  constraints above.</dd>
  <dt>poor_eye_supposed_ok</dt>
  <dd>Allow <em>liaison supposée</em> for the <em>rime pour l'œil</em> for
  poor_eye_required (default is false).</dd>
  <dt>poor_eye_vocalic_ok</dt>
  <dd>Do not require the rhyme of poor_eye_required for successions of two
  vocalic sounds (such as Noé/avoué).</dd>
</dl>

<p>Sorry if all of this is a bit obscure. You can have a look to the predefined
templates to understand how this works:</p>
<ul>
  <li><span class="template"><a
      href="static/tpl/classical.tpl">classical</a></span></li>
  <li><span class="template"><a
      href="static/tpl/french_abab.tpl">french_abab</a></span></li>
  <li><span class="template"><a
      href="static/tpl/french_abba.tpl">french_abba</a></span></li>
  <li><span class="template"><a
      href="static/tpl/italian_abab.tpl">italian_abab</a></span></li>
  <li><span class="template"><a
      href="static/tpl/italian_abba.tpl">italian_abba</a></span></li>
  <li><span class="template"><a
      href="static/tpl/alexandrin.tpl">alexandrin</a></span></li>
</ul>

<h2>Common issues</h2>
<ul>
  <li>There is no support for arabic numerals. Always spell out numbers in
  full.</li>
  <li>If the verse total is correct but a metric error is reported, check the
  <em>hémistiche</em>. Wrong <em>hémistiches</em> (which cut a word or end in a
  feminine sound) are reported.</li>
</ul>

<h2 id="pron">How is pronunciation written?</h2>
<p>It is <a href="http://en.wikipedia.org/wiki/X-SAMPA">X-SAMPA</a>. Information
about French pronunciation can be found on the <a
  href="https://fr.wiktionary.org/wiki/Annexe:Prononciation/fran%C3%A7ais">French
  Wiktionary</a>. Be aware that because of various limitations, the leading
phonemes might be completely wrong. The last few ones should match, however.</p>

<h2>Is there an API?</h2>
<p>Not yet. If you want to do something creative, <a
  href="https://a3nm.net/git/plint">grab a copy of the code</a>.</p>

<h2>What about the name?</h2>

<p>It's "plint" for "poem lint" (like the "<a
  href="https://en.wikipedia.org/wiki/Lint_(software)">lint</a>" tool for
programs), but also because "plint" in French would be read like "plainte",
meaning "complaint".</p>

{% endif %}
{% endblock %}

