{% extends "page.html" %}

{% block body %}
{% if lang == 'fr' %}
<p>Une erreur est survenue&nbsp;: {{error}}. <a href="/about#help">Besoin
  d'aide&nbsp;?</a></p>
{% else %}
<p>An error occurred: {{error}}. Need some <a
  href="/about#help">help</a>?</p>
{% endif %}
{% endblock %}

