{% extends "page.html" %}

{% block body %}

<noscript>
{% if lang == 'fr' %}
<p>Désolé, votre navigateur doit supporter JavaScript pour faire fonctionner
plint.</p>
{% else %}
<p>Sorry, plint requires a browser with JavaScript support.</p>
{% endif %}
</noscript>

<div id="lcontainer">
<select name="predef" id="predef" onChange="toggleCustom()" tabindex="1">
  <option value="classical" id="classical"
  {% if lang == 'fr' %}
title="Alexandrins classiques avec césure à l'hémistiche, rimes plates, genres alternés.">
  Alexandrins classiques avec rimes plates
  {% else %}
  title="Classical alexandrine verse with hémistiche, flat rhymes, alternate rhyme genres.">
  Classical alexandrine with flat rhymes
  {% endif %}
  </option>

  <option value="italian_abba" id="italian_abba"
  {% if lang == 'fr' %}
  title="Sonnet italien classique d'alexandrins à rimes embrassées : deux quatrains en rimes embrassées, deux tercets en rimes CCD EED.">
  Sonnet classique, quatrains rimes embrassées, tercets CCD EED
  {% else %}
  title="Classical Italian sonnet of alexandrine verse with rimes embrassées: two quatrains with rimes embrassées, two tercets with rhyme pattern CCD EED.">
  Classical sonnet, quatrains rimes embrassées, tercets CCD EED
  {% endif %}
  </option>

  <option value="italian_abab" id="italian_abab"
  {% if lang == 'fr' %}
  title="Sonnet italien classique d'alexandrins à rimes croisées : deux quatrains en rimes croisées, deux tercets en rimes CCD EED.">
  Sonnet classique, quatrains rimes croisées, tercets CCD EED
  {% else %}
  title="Classical Italian sonnet of alexandrine verse with rimes croisées: two quatrains with rimes croisées, two tercets with rhyme pattern CCD EED.">
  Classical sonnet, quatrains rimes croisées, tercets CCD EED
  {% endif %}
  </option>

  <option value="french_abba" id="french_abba"
  {% if lang == 'fr' %}
  title="Sonnet français classique d'alexandrins à rimes embrassées : deux quatrains en rimes embrassées, deux tercets en rimes CCD EDE.">
  Sonnet classique, quatrains rimes embrassées, tercets CCD EDE
  {% else %}
  title="Classical French sonnet of alexandrine verse with rimes embrassées: two quatrains with rimes embrassées, two tercets with rhyme pattern CCD EDE.">
  Classical sonnet, quatrains rimes embrassées, tercets CCD EDE
  {% endif %}
  </option>

  <option value="french_abab" id="french_abab"
  {% if lang == 'fr' %}
  title="Sonnet français classique d'alexandrins à rimes croisées : deux quatrains en rimes croisées, deux tercets en rimes CCD EDE.">
  Sonnet classique, quatrains rimes croisées, tercets CCD EDE
  {% else %}
  title="Classical French sonnet of alexandrine verse with rimes croisées: two quatrains with rimes croisées, two tercets with rhyme pattern CCD EDE.">
  Classical sonnet, quatrains rimes croisées, tercets CCD EDE
  {% endif %}
  </option>

  <option value="alexandrin" id="alexandrin"
  {% if lang == 'fr' %}
  title="Alexandrins sans hémistiche et sans vérification de la rime.">
  Alexandrins sans hémistiche et sans rime
  {% else %}
  title="Alexandrine verse without hémistiche and without rhyme checks.">
  Alexandrine without hemistiche or rhyme
  {% endif %}
  </option>

  <option value="custom" id="custom"
  {% if lang == 'fr' %}
  title="Modèle personnalisé.">
  Modèle personnalisé
  {% else %}
  title="Custom template.">
  Custom template
  {% endif %}
  </option>
</select>
<br/>
<textarea id="user_template" style="display:none;" onchange="setCustom()">
6/6 A !X
6/6 A !X
6/6 B !x
6/6 B !x
</textarea>
<p id="tools">
<button onclick="loadPredef()" id="customize" tabindex="2">
{% if lang == 'fr' %}
  Éditer le modèle
{% else %}
  Tweak template
{% endif %}
</button>
<a class="doclink" href="#"
  onclick="window.open('about#template', '_blank');" tabindex="3">
{% if lang == 'fr' %}
aide&nbsp;<img src="static/img/nw.png"
alt="s'ouvre dans une nouvelle fenêtre">
{% else %}
help&nbsp;<img src="static/img/nw.png"
alt="opens in a new window">
{% endif %}
</a>
<button id="check" onclick="check()" tabindex="5">
{% if lang == 'fr' %}
  Valider
{% else %}
  Validate
{% endif %}
</button>
</p>
<textarea id="poem" name="poem" tabindex="4"
  onchange="toggleUnload()"
{% if lang == 'fr' %}
  placeholder="Saisissez votre poème ici"
{% else %}
  placeholder="Input your poem here"
{% endif %}
>
</textarea>
</div>

<div id="cerrors">
  <p id="status">
{% if lang == 'fr' %}
plint est un outil pour vérifier la métrique et les rimes de poèmes en
langue française. 
Choisissez un modèle (survolez avec le pointeur pour plus de détails), saisissez
votre poème, et cliquez sur "Valider".
{% else %}
plint is a tool to check the metric and rhymes of French verse.
Select a template (hover for details), input your poem, and hit
"Validate".
{% endif %}
</p>

<ol id="errors">
</ol>
</div>

{% endblock %}

