<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
{% if lang == 'fr' %}
    <meta name="description" content="vérificateur de poèmes plint" />
{% else %}
    <meta name="description" content="plint French poetry checker" />
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" media="(max-width: 650px)" href="/static/mobile.css" />
    <script type="text/javascript">
      var lang = "{{ lang }}";
    </script>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery.caret.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <header>
    <h1><a href="/">plint</a></h1>
    <sup><a class="headlink"
        href="about">{% if lang == 'fr' %}aide{% else %}help{% endif %}</a>&nbsp;&bull;&nbsp;<a 
        class="headlink"
        href="about#log">{% if lang == 'fr' %}vie privée{% else %}privacy{% endif %}</a></sup>
    {% if nolocale != True %}
    <div id="lang">
      <a href="/fr/{{path}}">fr</a>&nbsp;&bull;&nbsp;<a href="/en/{{path}}">en</a>
    </div>
    {% endif %}
    </header>

    <div id="body">
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>
