h1 {
  background: #040;
  float: left;
  margin: 0;
  margin-right: 0.3em;
  font-size: 100%;
  padding: 0.2em;
}

#lang {
  float: right;
  padding: 0.2em;
  margin: 0;
  margin-left: 0.3em;
}

#body {
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header a, .headlink {
  color: white;
  text-decoration: none;
}

header {
  background: black;
  overflow: auto;
  color: white;
  width: 100%;
}

.headlink a {
  color: #0c0;
}

body {
  margin: 0;
  padding: 0;
}

.help {
  vertical-align: super;
}

dt {
  font-weight: bold;
}

#lcontainer {
  width: 42%;
  float: left;
}

#cerrors li {
  cursor: pointer;
  background: #fdd;
  padding: 1em;
  margin-bottom: 1em;
  overflow: auto;
  border: 2px outset red;
  min-height: 3em;
}

#cerrors li:hover {
  background: #fee;
  border: 2px outset #faa;
}

#cerrors li p {
  margin: 0;
  color: #a00;
  font-weight: bold;
}

#cerrors li blockquote {
  padding: 0;
  font-style: italic;
  margin-left: 0;
}

#cerrors {
  margin-top: 0;
  overflow: auto;
  height: 90vh;
  width: 55%;
  float: right;
}

#errors {
  list-style-type: none;
  padding: 0;
}

#poem {
  min-height: 8em;
  /* http://stackoverflow.com/a/4156343 */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#predef {
  width: 100%;
  /* http://stackoverflow.com/a/4156343 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.doclink {
  font-size: 80%;
}

#user_template {
  /* http://stackoverflow.com/a/4156343 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 10vh;
  min-height: 6em;
}

#check {
  float: right;
}

.error {
  display: block;
  background: #fdd;
  padding: 0.5em;
  border: 1px solid red;
}

.success {
  display: block;
  background: #dfd;
  padding: 0.5em;
  border: 1px solid green;
}

#status {
  display: block;
  width: 100%;
  overflow: auto;
  margin-top: 0;
}

p {
  /* reset */
  margin: 1em 0;
}
