#cerrors {
  float: none;
  width: initial;
  height: initial;
  max-width: initial;
  margin-top: 1em;
}

#cerrors li {
  width: 100%;
  /* http://stackoverflow.com/a/4156343 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#lcontainer {
  float: none;
  width: 100%;
}

#poem {
  min-width: 100%;
  max-width: 100%;
}

#predef {
  max-width: 100%;
  min-width: 100%;
}

#user_template {
  min-width: 100%;
  max-width: 100%;
}

